{% extends 'base.html.twig' %}

{% block title %}Hello LikeController!{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg bg-primary shadow p-3 mb-5 rounded">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">JeuJM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Mes mots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_jeu_accueil') }}">Scores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('classement_page') }}">Classement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('likes_page') }}">Le Top des Mots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('reglages_user') }}">Mon compte</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h3 class="text-warning">Notes des mots</h3>
            <table class="table table-hover table-striped table-bordered border-primary border-3 rounded-top">
                <thead>
                    <tr>
                        <th scope="col">Mot</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Mon avis</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, note in notes %}
                        <tr>
                            <td>{{ note.mot }}</td>
                            <td id="nblikes{{ note.id }}">{{ note.notes }}</td>
                            <td>
                                <form method="post" action="{{ path('notes_mots') }}">
                                    <input type="hidden" name="wordId" value="{{ note.id }}">
                                    <input type="number" name="noteUtilisateur" min="0" max="20" required>
                                    <button type="submit" class="btn btn-primary">Envoyer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
